body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif; }

.jumbotron {
  height: 110vh;
  width: 100%;
  background: url("../img/build/jumbotron.png");
  border: none;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  z-index: -1;
  color: #fff; }
  .jumbotron .border {
    border-bottom: 1px solid #fff; }
  .jumbotron ul li {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 3.75rem; }
  .jumbotron .hamburger-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center; }
  .jumbotron .hamburger {
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid #ffffff;
    background: transparent;
    position: relative;
    transition: 0.3s transform linear; }
    .jumbotron .hamburger:before, .jumbotron .hamburger:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-top: 5px solid #ffffff;
      transform: translateY(10px); }
    .jumbotron .hamburger:after {
      transform: translateY(25px);
      transition: 0.3s transform linear; }
    .jumbotron .hamburger:focus {
      transform: rotate(45deg) translateY(5px);
      border: none; }
    .jumbotron .hamburger:focus {
      transform: rotate(-90deg) translateX(-10px); }
    .jumbotron .hamburger:after {
      transform: rotate(180deg) translateX(0px) translateY(-25px); }
  .jumbotron img {
    z-index: 1;
    height: 1.5rem;
    width: 12rem;
    padding-bottom: 0; }
  .jumbotron .slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; }
    .jumbotron .slogan h1 {
      text-align: center;
      padding-top: 10rem;
      font-size: 4rem; }
    .jumbotron .slogan p {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 5rem; }
    .jumbotron .slogan button {
      height: 2.875rem;
      width: 12.5rem;
      background: #e84545;
      border: none;
      border-radius: 5px;
      color: #fff; }

.strengths {
  padding-top: 5rem; }
  .strengths .strength {
    text-align: center; }
    .strengths .strength h5 {
      text-transform: uppercase; }
    .strengths .strength p {
      font-size: 14px;
      margin-left: 1rem;
      margin-right: 1rem; }

.gallery .pic-1 {
  height: 20rem;
  width: 25%;
  background: url("../img/build/g1.png");
  border: 0.5px solid #fff;
  box-sizing: border-box; }

.gallery .pic-2 {
  height: 20rem;
  width: 25%;
  background: url("../img/build/g2.png");
  border: 0.5px solid #fff;
  box-sizing: border-box; }

.gallery .pic-3 {
  height: 20rem;
  width: 25%;
  background: url("../img/build/g3.png");
  border: 0.5px solid #fff;
  box-sizing: border-box; }

.gallery .pic-4 {
  height: 20rem;
  width: 25%;
  background: url("../img/build/g4.png");
  border: 0.5px solid #fff;
  box-sizing: border-box; }

.gallery .pic-5 {
  height: 20rem;
  width: 25%;
  background: url("../img/build/g5.png");
  border: 0.5px solid #fff;
  box-sizing: border-box; }

.gallery .pic-6 {
  height: 20rem;
  width: 25%;
  background: url("../img/build/g6.png");
  border: 0.5px solid #fff;
  box-sizing: border-box; }

.gallery .pic-7 {
  height: 20rem;
  width: 25%;
  background: url("../img/build/g7.png");
  border: 0.5px solid #fff;
  box-sizing: border-box; }

.gallery .pic-8 {
  height: 20rem;
  width: 25%;
  background: url("../img/build/g2.png");
  border: 0.5px solid #fff;
  box-sizing: border-box; }

.team {
  padding-top: 5rem; }
  .team img {
    height: 16rem;
    width: 16rem;
    background: none;
    border: 1rem solid #fff;
    box-sizing: border-box; }
  .team h5 {
    color: #e84545;
    text-transform: uppercase; }
  .team .box {
    height: 2.5rem;
    width: 2.5rem;
    background: none;
    border: 1px solid #e8ecee;
    display: inline-block; }
    .team .box img {
      height: 1rem;
      width: 1rem;
      background: #c6cacc;
      border: none; }

.caffe {
  padding-top: 5rem; }
  .caffe .caffe-background {
    height: 31rem;
    width: 50%;
    background: url("../img/build/caffe.png");
    border: none; }

.download {
  height: 60rem;
  text-align: center; }
  .download button {
    height: 2.875rem;
    width: 17.5rem;
    background: #e84545;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 2.5rem; }
  .download h1 {
    font-weight: 200;
    margin-top: 6.25rem;
    margin-bottom: 6.25rem; }
  .download p {
    font-weight: bold; }

.footer {
  height: 15.625rem;
  width: 100%;
  background: #3a3e64;
  border: none;
  color: #fff;
  text-align: center; }
  .footer .box {
    height: 2.5rem;
    width: 2.5rem;
    background: none;
    border: 2px solid #e8ecee;
    display: inline-block;
    margin: 4px;
    border-radius: 10%; }
    .footer .box img {
      margin: 10px; }
  .footer .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; }
    .footer .social .boxes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center; }

.footer-2 {
  height: 6rem;
  width: 100%;
  background: #313454;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center; }
  .footer-2 p {
    margin: 0;
    text-align: center;
    color: #fff; }

@media screen and (min-width: 1580px) {
  .hamburger {
    display: none; } }

@media screen and (max-width: 1580px) {
  .jumbotron ul li {
    margin-right: 3rem; }
  .hamburger {
    display: none; } }

@media screen and (max-width: 1450px) {
  .jumbotron ul li {
    margin-right: 2rem; }
  .hamburger {
    display: none; } }

@media screen and (max-width: 1270px) {
  .jumbotron ul li {
    margin-right: 1rem; }
  .hamburger {
    display: none; } }

@media screen and (max-width: 1080px) {
  .jumbotron ul li {
    margin-right: 0.1rem; }
  .hamburger {
    display: none; } }

@media screen and (max-width: 920px) {
  .jumbotron ul li {
    display: none; }
  .hamburger {
    display: block; } }

/*# sourceMappingURL=style.css.map */