$main: #fff

@mixin shape($height, $width, $background, $border)
	height: $height
	width: $width
	background: $background
	border: $border

@mixin responsive-image($background-repeat, $-webkit-background-size, $-moz-background-size, $-o-background-size, $background-size, $background-position)	
	background-repeat: $background-repeat
	-webkit-background-size: $-webkit-background-size
	-moz-background-size: $-moz-background-size
	-o-background-size: $-o-background-size
	background-size: $background-size
	background-position: $background-position

@mixin flex($display, $flex-direction, $justify-content, $flex-wrap, $align-items)
	display: $display
	flex-direction: $flex-direction
	justify-content: $justify-content
	flex-wrap: $flex-wrap
	align-items: $align-items	

body
	margin: 0
	font-family: 'Barlow Condensed', sans-serif

.jumbotron
	@include shape(110vh, 100%, url('../img/build/jumbotron.png'), none)
	@include responsive-image(no-repeat, cover, cover, cover, cover, center)
	z-index: -1
	color: $main
	.border
		border-bottom: 1px solid #fff
		ul
			li
				display: inline-block
				font-size: 1rem
				font-weight: 700
				text-transform: uppercase
				margin-right: 3.75rem
		img
			z-index: 1
			height: 1.5rem
			width: 12rem
			padding-bottom: 0
	.slogan
		@include flex(flex, column, center, wrap, center)
		h1
			text-align: center
			padding-top: 10rem
			font-size: 4rem
		p
			text-align: center
			font-size: 1.5rem
			margin-bottom: 5rem
		button
			@include shape(2.875rem, 12.5rem, #e84545, none)
			border-radius: 5px
			color: $main
							
.strengths
	padding-top: 5rem
	.strength
		text-align: center
		h5
			text-transform: uppercase
		p
			font-size: 14px
			margin-left: 1rem
			margin-right: 1rem
.gallery
	.pic-1
		@include shape(20rem, 25%, url('../img/build/g1.png'), 0.5px solid #fff)
		box-sizing: border-box
	.pic-2
		@include shape(20rem, 25%, url('../img/build/g2.png'), 0.5px solid #fff)
		box-sizing: border-box
	.pic-3
		@include shape(20rem, 25%, url('../img/build/g3.png'), 0.5px solid #fff)
		box-sizing: border-box
	.pic-4
		@include shape(20rem, 25%, url('../img/build/g4.png'), 0.5px solid #fff)
		box-sizing: border-box
	.pic-5
		@include shape(20rem, 25%, url('../img/build/g5.png'), 0.5px solid #fff)
		box-sizing: border-box
	.pic-6
		@include shape(20rem, 25%, url('../img/build/g6.png'), 0.5px solid #fff)
		box-sizing: border-box
	.pic-7
		@include shape(20rem, 25%, url('../img/build/g7.png'), 0.5px solid #fff)
		box-sizing: border-box
	.pic-8
		@include shape(20rem, 25%, url('../img/build/g2.png'), 0.5px solid #fff)
		box-sizing: border-box

.team 
	padding-top: 5rem
	img
		@include shape(16rem, 16rem, none, 1rem solid #fff)
		box-sizing: border-box
	h5
	    color: #e84545
	    text-transform: uppercase	
	.box
	    @include shape(2.5rem, 2.5rem, none, 1px solid #e8ecee)
	    display: inline-block
	    img
	    	@include shape(1rem, 1rem, #c6cacc, none)

.caffe
	padding-top: 5rem
	.caffe-background
		@include shape(31rem, 50%, url('../img/build/caffe.png'), none)   	